{% extends 'base.html.twig' %}

{% block body %} 

{% include 'header.html.twig' %}
<div class = 'app'>



<h2>Lista Productos</h2>

<ul class = "lista">
{% for producto in productos %}
<li class="listap">
<div>
    <img  src="{{ asset(producto.imagen) }}" alt="{{ producto.nombre }}">
</div>
<div>
    <h1>Producto {{producto.nombre}}</h1>
    <p>Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías o de 
    borradoresholaaaaa</p>
    <a href="{{ path('detalle_producto', {id: producto.id}) }}">Ver Detalles</a>
    <b>Precio : {{producto.precio}}</b>
</div>
</li>    
{% endfor %}
</ul>
</div>
{% endblock %}